body {
  background-color: rgb(104, 24, 24);
}



#containerProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  margin: 200px;
  border-color: rgb(167, 32, 162);
}



img {
  margin: 0px;
  padding: 5px;
  width: 200px;
  box-shadow: black;
  border-radius: 50px;
}
.btn {
  border-radius: 50px;
  background-color: rgb(197, 119, 30);
  display: flex;
  color: beige;
  margin-left: 58px;
  margin-bottom: 10px;
  width: 90px;
  height: 30px;
  /* font-family: 'Girassol', cursive; */
}
span {
  display: flex;
  color: rgb(155, 50, 24);
  margin-bottom: 10px;
  margin-left: 50px;
  padding-top: 0px;
  font-family: "Girassol", cursive;
  /* padding-bottom: 50px;  */
}

@media (max-width: 1200px) {
  .container {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    padding-bottom: 50px; } }
/* 
<div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-50">
            <a href="#!"><img class="card-img-top" src="imagenes/${lenceria.imagen}" alt="..." /></a>
            <div class="">
                <h4 class="card-title"><a href="#!">${lenceria.nombre}</a></h4>
                <h5>$ ${lenceria.precio}</h5>
                <p class="card-text">${lenceria.descripcion}</p>
            </div>
            <button class="btn btn-dark" onclick='agregarCarrito(${JSON.stringify(lenceria)})'>Comprar</button>   
            <div class="card-footer"><small class="text-muted">★ ★ ★ ★ ☆</small></div>
        </div>
    </div>  */
